/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 15, 2015, 3:15:35 PM
    Author     : Konsta
*/

.root{
    -fx-font-size: 9pt;
    
    -fx-font-family: "Courier New";
    -fx-base: #EF8E2E;
    -fx-background-color: #FF7F0A;
    -fx-focus-color: #FFC184;
}

.button{
    -fx-text-fill: #000000;
    -fx-padding: 4 6 6 6;
    -fx-border-style: solid;
    -fx-effect: dropshadow( gaussian , black , 10 , 0.0 , 2 , 0);
}


.text-field{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.label{
    
    -fx-font-size: 8pt;
    -fx-font-family: "Courier New";
}